---
# GCP creds
project_id: <GCP project id>
gcp_credentials_json: |
  {
    <GCP Service Account JSON, download via GCP -> IAM -> Service Accounts>
    "type": "service_account",
    ...
  }
deployments_bucket_name: <Name of Versioned GCS bucket to hold deployment configs>
storage_access_key: <GCS Interoperability Access Key for deployment_bucket>
storage_secret_key: <GCS Interoperability Secret Key for deployment_bucket>

# Natbox
natbox_secrets: |
  mbus_bootstrap_password: <BOSH agent password used for creating VM>

# Jumpbox
jumpbox_ssh_key: |
  <Private key for GCP SSH user.
  Can configure under Project -> Metadata -> SSH Keys in GCP>
jumpbox_ssh_user: <Username for GCP SSH user>
trusted_cidr: <IP range to allow traffic to Jumpbox, e.g. SF Office IP address>
jumpbox_secrets: |
  mbus_bootstrap_password: <BOSH agent password used for creating VM>

# Director
director_admin_username: <BOSH director admin username>
director_admin_password: <BOSH director admin password>
director_ca_cert: |
  -----BEGIN EXAMPLE CERTIFICATE-----
  <Public SSL certificate for BOSH director>
  -----END EXAMPLE CERTIFICATE-----
director_ca_key:  |
  -----BEGIN EXAMPLE RSA PRIVATE KEY-----
  <Private SSL key for BOSH director>
  -----END EXAMPLE RSA PRIVATE KEY-----
bosh_director_secrets: |
  nats_password: <BOSH agent password used for communication between VMs>
  mbus_bootstrap_password: <BOSH agent password used for creating VM>
  postgres_password: <BOSH db password for BOSH director user>
  blobstore_director_password: <Director password for internal blobstore>
  blobstore_agent_password: <Agent password for internal blobstore>
  director_name: <Cosmetic name for director>
  service_account: <GCP service account name for director>
  hm_password: <Health monitor password>

# Concourse
concourse-config-access-token: <Github access token used to avoid rate limiting>
concourse_secrets: |
  github_client_id: <Client ID for Github OAuth application>
  github_client_secret: <Client secret for Github OAuth application>
  github_authorized_teams:
    - organization: <Your admin Github org>
      teams:
      - <Your admin Github teams>
  tsa_authorized_keys:
    -  <Public key of external worker, e.g. "ssh-rsa ...">
  tsa_private_key: |
    -----BEGIN EXAMPLE RSA PRIVATE KEY-----
    <Private key of TSA>
    -----END EXAMPLE RSA PRIVATE KEY-----
  tls_cert: |
    -----BEGIN EXAMPLE CERTIFICATE-----
    <Public SSL certificate for Concourse Web UI>
    -----END EXAMPLE CERTIFICATE-----
  tls_key: |
    -----BEGIN EXAMPLE RSA PRIVATE KEY-----
    <Private SSL Key for Concourse Web UI>
    -----END EXAMPLE RSA PRIVATE KEY-----
  concourse_db_password: <Admin password for Concourse Postgres database>
  concourse_external_url: <URL for Concourse Web UI>
